body.blue .select_ruffy .ruffys a.on span.name,
.select_skin .list .color.blue span {
  background-color: #0994ff;
}

body.red .select_ruffy .ruffys a.on span.name,
.select_skin .list .color.red span {
  background-color: #ff5450;
}

body.green .select_ruffy .ruffys a.on span.name,
.select_skin .list .color.green span {
  background-color: #00ac6d;
}

body.bw .select_ruffy .ruffys a.on span.name,
.select_skin .list .color.bw span {
  background-color: #333;
}

.select_skin .list .color.blue.on {
  color:#0994ff
}

.select_skin .list .color.red.on  {
  color:#ff5450;
}

.select_skin .list .color.green.on {
  color:#00866e
}

.select_skin .list .color.bw.on  {
  color:#333
}

@keyframes twinkle {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.select_skin .list .color.on {
  animation: twinkle 1s ease-in-out 1;
}

/* skin color defalut % blue*/
body h1, 
body.blue h1,
body h2, 
body.blue h2,
body a, 
body.blue a {
  color:#0994ff;
}


body .uline, 
body.blue .uline {
    border-bottom:1px solid #0994ff
}

body [class$="basic"],
body.blue [class$="basic"]  {
  background-color: #0994ff;
  border:1px solid #0994ff;
  color: #fff;
}

body [class$="white"],
body.blue [class$="white"],
body .on_w,
body.blue .on_w {
  background-color: #fff;
  border:1px solid #0994ff;
  color: #0994ff;
}

body .custom-radio input[type="radio"]:checked + .circle::after,
body.blue .custom-radio input[type="radio"]:checked + .circle::after {
  background-color:#0994ff;
}


body .checkbox-label input:checked + .checkmark::after,
body.blue .checkbox-label input:checked + .checkmark::after {
  width: 0.6rem;
  height: 1rem;
  content: '';
  position: absolute;
  left: 0.4rem;
  top:-0.3rem;
  border: solid #0994ff; 
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

body .on,
body.blue .on {
    background-color:#0994ff;
    color:#fff;
}

body .light,
body.blue .light,
body .inline-wheel-item.selected,
body.blue .inline-wheel-item.selected,
body .monthly-grid span.m_s_btn.selected,
body.blue .monthly-grid span.m_s_btn.selected {
  background-color:#ddf2ff;
  border:none;
}

body .on_w.light,
body.blue .on_w.light {
  background-color:#ddf2ff;
  border:1px solid #0994ff;
  color:#0994ff
}

/* skin color red*/
body.red h1,
body.red h2,
body.red a {
  color:#ff5450;
}

body.red .uline {
  border-bottom:1px solid #ff5450
}

body.red [class$="basic"] {
  background-color: #ff4160;
  border:1px solid #ff4160;
  color: #fff;
}

body.red [class$="white"],
body.red .on_w {
  background-color: #fff;
  border:0.1px solid #ff4160;
  color: #ff4160;
}

body.red .custom-radio input[type="radio"]:checked + .circle::after {
  background-color:#ff4160;
}

body.red .checkbox-label input:checked + .checkmark::after {
  width: 0.6rem;
  height: 1rem;
  content: '';
  position: absolute;
  left: 0.4rem;
  top:-0.3rem;
  border: solid #ff4160; 
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

body.red .on  {
    background-color:#ff4160;
    color:#fff;
    border:1px solid #ff4160;
}

body.red .light,
body.red .inline-wheel-item.selected,
body.red .monthly-grid span.m_s_btn.selected  {
  background-color:#ffeef4;
}

body.red .on_w.light {
  background-color:#ffeef4;
  border:1px solid #ff4160;
  color:#ff4160
}

/* skin color green*/
body.green h1,
body.green h2,
body.green a {
  color:#00ac6d;
}

body.green .uline {
    border-bottom:1px solid #00ac6d
}

body.green [class$="basic"]  {
  background-color: #00ac6d;
  border:1px solid #00ac6d;
  color: #fff;
}

body.green [class$="white"],
body.green .on_w {
  background-color: #fff;
  border:0.1px solid #00ac6d;
  color: #00ac6d;
}

body.green .custom-radio input[type="radio"]:checked + .circle::after {
  background-color:#00ac6d;
}

body.green .checkbox-label input:checked + .checkmark::after {
  width: 0.6rem;
  height: 1rem;
  content: '';
  position: absolute;
  left: 0.4rem;
  top:-0.3rem;
  border: solid #00ac6d; 
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

body.green .on  {
    background-color:#00ac6d;
    color:#fff;
    border:1px solid #00ac6d;
}

body.green .light,
body.green .inline-wheel-item.selected,
body.green .monthly-grid span.m_s_btn.selected {
  background-color:#d5f3ee;
}


body.green .on_w.light {
  background-color:#d5f3ee;
  border:1px solid #00ac6d;
  color:#00ac6d
}

/* skin color bw*/
body.bw h1,
body.bw h2,
body.bw a  {
  color:#333;
}

body.bw .uline {
    border-bottom:1px solid #333
}

body.bw [class$="basic"]  {
  background-color: #333;
  border:1px solid #333;
  color: #fff;
}


body.bw [class$="white"],
body.bw .on_w {
  background-color: #fff;
  border:0.1px solid #333;
  color: #333;
}

body.bw .custom-radio input[type="radio"]:checked + .circle::after {
  background-color:#333;
}

body.bw .checkbox-label input:checked + .checkmark::after {
  width: 0.6rem;
  height: 1rem;
  content: '';
  position: absolute;
  left: 0.4rem;
  top:-0.3rem;
  border: solid #333; 
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

body.bw .on  {
    background-color:#ccc;
    color:#fff;
    border:1px solid #ccc;
}

body.bw .light,
body.bw .inline-wheel-item.selected,
body.bw .monthly-grid span.m_s_btn.selected  {
  background-color:#f5f5f5;
}

body.bw .on_w.light {
  background-color:#f5f5f5;
  border:1px solid #333;
  color:#333
}


.t_red01 {
  color:#ff5450
}

