/*  휠피커 스타일 */
.vue-scroll-picker {
   border:1px solid red!important
}

/* 체크 박스 */
.checkbox-label {
  display: flex;
  justify-content: center; 
  align-items: center;  
  gap: 0.5rem;
  margin: 0 auto;
}

.checkbox-label input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  display: none;
  margin: 0;
  appearance: auto !important;
  position: static !important;
  opacity: 1 !important;
}

.checkbox-label .checkmark {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.3rem;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  border: 0.1rem solid #666;
}

/* 라디오 박스 */
.custom-radio-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap; 
}

.custom-radio-group.row { 
  gap: 0rem;
}
.custom-radio-group.row label.radio-desc {
  margin:0 0.5rem 0 0.5rem;
  display:flex;
  margin-left:0rem
}

.custom-radio {
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  flex-shrink: 0;
}


.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ddd;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.custom-radio input[type="radio"]:checked + .circle::after {
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/*토글 라디오*/
.toggle-container {
  display: flex;
  align-items: center;
  gap:0.3rem;
  margin:0 auto;
}

.toggle-label {
  user-select: none;
}

.toggle-switch {
  width:2.5rem;
  height:1.6rem;
  background-color: #ccc;
  border-radius:2rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-circle {
  width:1.2rem;
  height:1.2rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top:0.2rem;
  left: 0.2rem;
  transition: transform 0.3s;
}

.toggle-switch.on .toggle-circle {
  transform: translateX(0.9rem);
}
