/*  휠피커 스타일 */
.vue-scroll-picker {
  position: relative;
  width: 100%;
  height: 10em;
  overflow: hidden;
  user-select: none;
}

.vue-scroll-picker-rotator {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - .6em);
}

.vue-scroll-picker-rotator-transition {
  transition: top ease 150ms;
}

.vue-scroll-picker-item {
  text-align: center;
  font-family: 'SUIT-Regular'!important;
  font-size: 1.2rem!important;
  line-height: 2rem!important;
  color: #666!important;
  letter-spacing:-0.01rem!important;
}

.vue-scroll-picker-item[aria-selected='true'] {
  color: #fff !important;
  font-weight: bold!important;
  font-size: 1.4rem !important;
  background-color: #333 !important;
  border-radius: 1rem !important;
  padding: 0.2rem 0.5rem; /* 선택 영역 안쪽 여백 (필요에 따라 조절) */
}

.vue-scroll-picker-item[data-value=''],
.vue-scroll-picker-item[aria-disabled='true'] {
  color: #9a9a9a!important;
}

.vue-scroll-picker-item[data-value=''][aria-selected='true'],
.vue-scroll-picker-item[aria-disabled='true'][aria-selected='true'] {
  color: #666!important;
}

.vue-scroll-picker-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.vue-scroll-picker-layer-top,
.vue-scroll-picker-layer-selection,
.vue-scroll-picker-layer-bottom {
  position: absolute;
  left: 0;
  right: 0;
}

.vue-scroll-picker-layer-top {
  box-sizing: border-box;
  border-bottom:none!important;
  background: linear-gradient(180deg,transparent 10%,#fff)!important;
  top: 0;
  height: calc(50% - 1em);
  cursor: pointer;
}

.vue-scroll-picker-layer-selection {
  top: calc(50% - 1em);
  bottom: calc(50% - 1em);
  background-color: transparent; /* 배경 안 입힐 경우 */
  border-radius: 1rem;
  z-index: 1;
  pointer-events: none; /* 클릭 막음 */
}

.vue-scroll-picker-layer-bottom {
  border-top:none!important;
  background: linear-gradient(0deg,transparent 10%,#fff)!important;
  bottom: 0;
  height: calc(50% - 1em);
  cursor: pointer;
}

/* 체크 박스 */
.checkbox-label {
  display: flex;
  justify-content: center; 
  align-items: center;  
  gap: 0.5rem;
  margin: 0 auto;
}

.checkbox-label input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  display: none;
  margin: 0;
  appearance: auto !important;
  position: static !important;
  opacity: 1 !important;
}

.checkbox-label .checkmark {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.3rem;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  border: 0.1rem solid #666;
}

/* 라디오 박스 */
.custom-radio-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap; 
}

.custom-radio-group.row { 
  gap: 0rem;
}
.custom-radio-group.row label.radio-desc {
  margin:0 0.5rem 0 0.5rem;
  display:flex;
  margin-left:0rem
}

.custom-radio {
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  flex-shrink: 0;
}


.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ddd;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.custom-radio input[type="radio"]:checked + .circle::after {
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/*토글 라디오*/
.toggle-container {
  display: flex;
  align-items: center;
  gap:0.3rem;
  margin:0 auto;
}

.toggle-label {
  user-select: none;
}

.toggle-switch {
  width:2.5rem;
  height:1.6rem;
  background-color: #ccc;
  border-radius:2rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-circle {
  width:1.2rem;
  height:1.2rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top:0.2rem;
  left: 0.2rem;
  transition: transform 0.3s;
}

.toggle-switch.on .toggle-circle {
  transform: translateX(0.9rem);
}
