/* 화면 중앙 정렬시 */
.container {
	width:100%;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#fff;
}


/* 인트로 */
.intro_wrap {
	width:80%;margin:0 auto
}

.intro_wrap .subtext {
  font-size: 1.3rem;
  line-height: 1.8rem;
	margin:0.8rem 0 0.8rem 0
}

.intro_wrap .ruffy-img {
  width: 13rem;
	margin:0.5rem 0 0 0;
	margin:0 auto;
}

.intro_wrap .button {
	margin-top:1rem
}

.intro_wrap .button a{
	margin-bottom:0.8rem
}

/* 회원가입 */
.join_wrap {
	width:70%;
	margin:0 auto;
	text-align:center
}


.join_wrap .form {
	margin:1rem 0 0.5rem 0;
}

.join_wrap .join_inner {
}

.join_wrap .radio {
	width:100%;
	margin-bottom:1rem;
}


.join_wrap .agree {
	width:100%;
	margin-top:0.5rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-label input[type="checkbox"] {
  display: inline-block !important;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
  appearance: auto !important;
  position: static !important;
  opacity: 1 !important;
}

