/* 인트로*/
.intro_wrap {
	width:70%;
  margin:0 auto;
}

.intro_wrap h1 {
  font-size:3rem;
  line-height:3.9rem;
  margin-bottom:1.5rem
}

.intro_wrap h1 em {
  font-size:4rem;
}

.intro_wrap .subtext {
  font-size: 1.2rem;
  line-height: 1.5rem;
	margin:0 0 1.5rem 0
}

.intro_wrap .ruffy-img {
  width: 13rem;
  margin:0 auto;
  margin-bottom:1.5rem;
}

.intro_wrap .button {
	margin-bottom:1rem
}

.intro_wrap .button a {
  margin-bottom:0
}

.intro_wrap .button a:last-child {
	margin-bottom:0
}

/* 회원가입 */
.join_wrap {
	width:70%;
	margin:0 auto;
	text-align:center
}

.join_wrap .form {
	margin:1rem 0 1rem 0;
}

.join_wrap .t_box {
  text-align:center;
  margin:1rem 0 1rem 0;
  line-height:1.5rem;
}

.join_wrap .agree {
  margin-top:0.5rem
}

.join_wrap .select_skin .list {
  margin:1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem; 
  padding-bottom:0.5rem;
}

.join_wrap .select_skin .list .color {
  width: 25%; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #333;
  background-color: #fff;
  text-decoration: none;
}

.join_wrap .select_skin .list .color span {
  width:2rem;
  height:2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-mask-image: url('../images/step.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: url('../images/step.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}


.join_wrap .info_text {
  margin-top:1rem
}

.join_wrap .info_text,
.join_wrap .select_skin .info_text {
  font-size:0.9rem;
  padding:0.5rem;
  border-radius: 1rem;
}
