#main_body .no_data {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size:1.4rem;
  line-height:1.7rem;
  background-image: url('../images/ico_crying.png');
  background-repeat: no-repeat;
  background-size: 5rem 5rem;
  background-position: top center;
  font-family:'S-CoreDream-6Bold';
  padding-top:5rem;
}

#main_body .no_data span {
  display:block;
  color:#666;
  font-size:1rem;
  margin-top:0.5rem;
  font-family:'S-CoreDream-4Regular'
}

#main_body .date_scroll {
}

#main_body .date_scroll .date_group {
  display: flex;
  justify-content: flex-start;    
  align-items: center;        
  gap: 0.2rem;      
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

#main_body .date_scroll::-webkit-scrollbar {
  display: none;
}

#main_body .date_scroll .date_group span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  line-height: 1.1rem;
  font-size: 1rem;
  color: #999;
  box-sizing: border-box;
}
#main_body .date_scroll .date_group i {
  display:block;
  color:#666;
  line-height:0.8rem;
  font-style:normal;
  font-size:0.6rem;
}

#main_body .date_scroll .date_group span.on {
  color:#333!important;
  font-weight:bold;
  background-color:#fff!important;
  border:1px solid #333
}

#main_body .date_scroll .date_group span.today {
  background-color:#52ff62;
  border:1px solid #00ce00;
}

#main_body .routine_total {
}

#main_body .routine_total p:first-child {
  background-color:#fff;
  border:1px solid #eaeaea;
  padding:1rem;
  border-radius:1.5rem;
  margin:1rem 0;
  font-size:0.9rem;
  letter-spacing:-0.02rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main_body .routine_total p:first-child span em {
  font-weight:bold
}

#main_body .routine_total p span {
  display: flex;
  align-items: center;
  gap: 0.2rem; /* 텍스트와 숫자 사이 간격 */
}

#main_body .routine_total p span {
  display: flex;
  align-items: center;
}

#main_body .routine_total p:last-child button {
  background-color:#fff;
  border:1px solid #333;
  padding:0.5rem;
  border-radius:1rem;
  display:flex;
  align-items:center;
  line-height:0.9rem;
  margin-left:0.5rem;
}

#main_body .routine_total .filter_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

#main_body .routine_total .filter_row .custom-radio {
  margin-left:0.2rem
}

#main_body .routine_total .filter_row .today {
  display:inline-block;
  font-size:0.7rem;
  font-weight:bold;
  padding:0 0.3rem 0 0.3rem;
  border-radius:1rem;
  background-color:#ffde00;
  border:1px solid #ffc600;
}
