#main_body .routine_total p:first-child {
  background-color: #797eff;
  border-bottom-right-radius: 1.5rem;
  padding: 0 1rem 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: -0.02rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

#main_body .routine_total .filter_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1.5rem;
  font-size: 0.9rem;
  position: relative;
  z-index: 1;
}

#main_body .routine_total .filter_row .filter_buttons {
  width: 100%;
  display: flex;
  gap: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

#main_body .routine_total .filter_row .filter_buttons button {
  flex: 1 1 20%;
  display: block;
  line-height: 3rem;
  background-color: #ebeffd;
  text-align: center;
  color: #93a7ff;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
  padding: 2rem 0 0 0;
  border: none;
}

#main_body .routine_total .filter_row .filter_buttons button + button {
  border-left: 1px solid #fff;
}

#main_body .routine_total .filter_row .filter_buttons button.on {
  background-color: #797eff;
  font-size: 1rem;
  color: #fff;
}
