#main_body .no_data {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size:1.4rem;
  line-height:1.7rem;
  background-image: url('../images/ico_crying.png');
  background-repeat: no-repeat;
  background-size: 5rem 5rem;
  background-position: top center;
  font-family:'S-CoreDream-6Bold';
  padding-top:6rem;
  border:1px solid red
}

#main_body .no_data span {
  display:block;
  color:#666;
  font-size:1rem;
  margin-top:0.5rem;
  font-family:'S-CoreDream-4Regular'
}

#main_body .date_scroll {
  border:1pz solid red
}

#main_body .date_scroll .date_group {
  display: flex;
  justify-content: flex-start;    
  align-items: center;        
  gap: 0.2rem;      
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

#main_body .date_scroll::-webkit-scrollbar {
  display: none;
}

#main_body .date_scroll .date_group span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  line-height: 1.1rem;
  font-size: 1rem;
  color: #999;
  box-sizing: border-box;
}
#main_body .date_scroll .date_group i {
  display:block;
  color:#666;
  line-height:0.8rem;
  font-style:normal;
  font-size:0.6rem;
}

#main_body .date_scroll .date_group span.on {
  color:#333!important;
  font-weight:bold;
  background-color:#fff!important;
  border:1px solid #333
}

#main_body .routine_total {
  
  border:1px solid red;
  border-radius:1.5rem;
  padding:1rem;
}
