.select_ruffy,
.select_course,
.select_card {
  margin:0.5rem 0 1.5rem 0;
}

.select_ruffy .ruffys,
.select_course .course,
.select_card .card {
  position:relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top:0.5rem;
}

.select_ruffy .ruffys a,
.select_course .course a,
.select_card .card a {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0 0.2rem; 
}

.select_ruffy .ruffys a span,
.select_course .course a span,
.select_card .card a span {
  width:100%;
  display:inline-block;
  text-align:center;
}

.select_ruffy .ruffys a span.img,
.select_course .course a span.img,
.select_card .card a span.img {
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  margin-bottom:0.2rem;
}

.select_ruffy .ruffys a span.img {
  height: 2.5rem;
}
.select_course .course a span.img {
  height: 5rem;
}


.select_ruffy .ruffys a span.img img,
.select_course .course a span.img img {
  max-height: 100%;
  width: auto;
  border-radius: 1.5rem;
}

.select_card .card a span.img {
  height: 3rem;
  overflow:hidden;
  border-radius: 0.5rem;
}

.select_card .card a span.img img {
  width:100%;
  height:100%;
}

.select_ruffy .ruffys a span.name,
.select_course .course a span.name,
.select_card .card a span.name {
  width:100%;
  display:inline-block;
  border-radius:0.7rem;
  background-color:#e6e6e6;
  color:#333;
  font-size:0.8rem;
  letter-spacing:-0.02rem;
}

.select_ruffy .ruffys a.on span.name,
.select_course .course a.on span.name,
.select_card .card a.on span.name {
  color:#fff
}

.select_ruffy .ruffys a .custom-radio,
.select_course .course a .custom-radio,
.select_card .card a .custom-radio {
  margin-bottom:0.5rem;
}

.select_ruffy .ruffys .ruffys_detail,
.select_course .course .ruffys_detail,
.select_card .card .ruffys_detail {
  width:100%;
  margin:0 0 1rem 0;
}

.select_ruffy .ruffys .speech-bubble-wrapper,
.select_course .course .speech-bubble-wrapper,
.select_card .card .speech-bubble-wrapper {
  position: absolute;
  width: 100%;
  margin-top: -15rem;
}

.select_ruffy .ruffys .speech-bubble,
.select_course .course .speech-bubble,
.select_card .card .speech-bubble {
  width: 100%;
  min-height:14rem;
  font-size:1rem;
  line-height:1.5rem;
  background: #fff;
  padding: 2.5rem 1.5rem 2rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
}

.select_ruffy .ruffys .speech-bubble [class^='r_detail'],
.select_course .course .speech-bubble [class^='r_detail'],
.select_card .card .speech-bubble [class^='r_detail'] {
  display: flex;
  align-items: flex-start;
  gap: 1rem; 
  font-size:0.9rem;
  line-height:1.3rem;
  text-align:left;
}

.select_ruffy .ruffys .speech-bubble [class^='r_detail'] p,
.select_course .course .speech-bubble [class^='r_detail'] p,
.select_card .card .speech-bubble [class^='r_detail'] p {
  width:5rem;
  text-align:center;
  margin: 0;
  flex-shrink: 0;
  font-weight: bold;
  font-size:1.3rem;
  line-height:1.5rem;
  font-family: 'Paperlogy-8ExtraBold';
}

.select_ruffy .ruffys .speech-bubble [class^='r_detail'] span,
.select_course .course .speech-bubble [class^='r_detail'] span,
.select_card .card .speech-bubble [class^='r_detail'] span {
  display: flex;
  flex-direction: column;
}

.select_ruffy .ruffys .speech-bubble [class^='r_detail'] span:first-child,
.select_course .course .speech-bubble [class^='r_detail'] span:first-child,
.select_card .card .speech-bubble [class^='r_detail'] span:first-child {
  width:4rem;
  height:4rem;
  margin:0 auto;
  font-size:0;
  margin-bottom:0.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.select_ruffy .ruffys .speech-bubble .r_detail01 span:first-child {
  background-image: url('../images/hey_ruffy_temp01_b.png');
}
.select_ruffy .ruffys .speech-bubble .r_detail02 span:first-child {
  background-image: url('../images/hey_ruffy_temp02_b.png');
}
.select_ruffy .ruffys .speech-bubble .r_detail03 span:first-child {
  background-image: url('../images/hey_ruffy_temp03_b.png');
}
.select_ruffy .ruffys .speech-bubble .r_detail04 span:first-child {
  background-image: url('../images/hey_ruffy_temp04_b.png');
}

.select_course .course .speech-bubble .r_detail01 span:first-child {
  background-image: url('../images/course_temp01.png');
}
.select_course .course .speech-bubble .r_detail02 span:first-child {
  background-image: url('../images/course_temp02.png');
}
.select_course .course .speech-bubble .r_detail03 span:first-child {
  background-image: url('../images/course_temp03.png');
}
.select_course .course .speech-bubble .r_detail04 span:first-child {
  background-image: url('../images/course_temp04.png');
}


.select_card  .card  .speech-bubble .r_detail01 span:first-child {
  background-image: url('../images/card_temp01.png');
}

.select_card  .card  .speech-bubble .r_detail02 span:first-child {
  background-image: url('../images/card_temp02.png');
}

.select_card  .card  .speech-bubble .r_detail03 span:first-child {
  background-image: url('../images/card_temp03.png');
}

.select_card  .card  .speech-bubble .r_detail04 span:first-child {
  background-image: url('../images/card_temp04.png');
}

.select_ruffy .ruffys .tail,
.select_course .course .tail,
.select_card .card .tail {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1rem; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.select_ruffy .ruffys a.on,
.select_course .course a.on,
.select_card .card a.on {
  background-color: #fff!important;
}

.select_ruffy .ruffys .tail::before,
.select_course .course .tail::before,
.select_card .card .tail::before {
  content: "";
  position: absolute;
  bottom: 0; 
  left: -0.85rem;
  border-left: 0.85rem solid transparent;
  border-right: 0.85rem solid transparent;
  border-top: 1.05rem solid rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.select_ruffy .ruffys .tail::after,
.select_course .course .tail::after,
.select_card .card .tail::after {
  content: "";
  position: absolute;
  bottom: 0.05rem;
  left: -0.8rem;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-top: 1rem solid #fff; 
  z-index: 1;
}

.select_ruffy .ruffys .tail.option1,
.select_course .course .tail.option1,
.select_card .card .tail.option1 {
  left: 12.5%;
  transform: translateX(-50%);
}
.select_ruffy .ruffys .tail.option2,
.select_course .course .tail.option2,
.select_card .card .tail.option2 {
  left: 37.5%;
  transform: translateX(-50%);
}
.select_ruffy .ruffys .tail.option3,
.select_course .course .tail.option3,
.select_card .card .tail.option3 {
  left: 62.5%;
  transform: translateX(-50%);
}
.select_ruffy .ruffys .tail.option4,
.select_course .course .tail.option4,
.select_card .card .tail.option4 {
  left: 87.5%;
  transform: translateX(-50%);
}

.select_ruffy .speech-bubble .close-btn,
.select_course .course .close-btn,
.select_card .card .close-btn {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.select_ruffy .speech-bubble .close-btn img,
.select_course .course .close-btn img,
.select_card .card .close-btn img {
  width: 100%;
  height: 100%;
  display: block;
}

.popup-close-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent;
  border: none;
  cursor: default;
  z-index: 1000;
}
.speech-bubble {
  position: relative;
  z-index: 2;
}

.ruffys_item {
}

.ruffys_item span {
  width:1.8rem;
  height:1.8rem;
  display:inline-block;
  font-size:0;
  line-height:0;
  margin:0;
  padding:0;
}

.ruffys_item span.ruffy01 {
  background: url('../images/hey_ruffy_temp01.png') no-repeat 0 0/cover;
}

.ruffys_item span.ruffy02 {
  background: url('../images/hey_ruffy_temp02.png') no-repeat 0 0/cover;
}

.ruffys_item span.ruffy03 {
  background: url('../images/hey_ruffy_temp03.png') no-repeat 0 0/cover;
}

.ruffys_item span.ruffy04 {
  background: url('../images/hey_ruffy_temp04.png') no-repeat 0 0/cover;
}

.routine_card.card_option01 { background-color:#ffffff!important }
.routine_card.card_option02 { background-color:#ebfff5!important; }
.routine_card.card_option03 { background-color:#fff1f4!important; }
.routine_card.card_option04 { background-color:#fff7e4!important; }
