/* 레이어 팝업 */
.popup_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex; /* 팝업 중앙 정렬용 */
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup_inner_wide {
  width: 100%;
  height: 100%;
  text-align: left;
  background: #fff9f4;
}

.popup_inner_wide h3 {
  line-height: 1.5rem;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
}

.cute_dotted {
  height: 0.125rem;
  border: none;
  background-image: radial-gradient(
    circle,
    #badcff 0.125rem,
    #5a9adb 0.125rem,
    transparent 0.125rem
  );
  background-size: 0.625rem 0.125rem;
  background-repeat: repeat-x;
}

/* 달력 공통 */

.calendar-popup {
  height: 25rem;
  position: fixed;
  padding: 2rem;
  bottom: -100%;
  left: 0;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  overscroll-behavior: contain;
  background: #fff;
  transition: bottom 0.3s ease;
  z-index: 9999;
  box-sizing: border-box;
  border-top: 0.1rem solid #ede1dc;
}

.calendar-popup.show {
  bottom: 0;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: "Paperlogy-8ExtraBold";
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.calendar-body div {
  padding: 0.7rem 0;
  background: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.calendar-body div.today {
  background: #fa606f;
  color: #fff;
  font-weight: bold;
}

#calendarPopup {
  position: fixed; /* 절대값 말고 화면 기준으로 고정 */
  bottom: -100%;
  opacity: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transition: all 0.3s ease;
  z-index: 9999;
}
#calendarPopup.show {
  bottom: 0;
  opacity: 1;
}

.calendar-popup .close_btn {
  position: sticky;
  top: 0;
  z-index: 10;
}

.calendar-body div.disabled {
  color: #bcbcbc;
  pointer-events: none;
  cursor: default;
}

.popup_inner_wide {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.popup_inner_wide h3:first-child {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  display: inline-block;
}

.popup_inner_wide .paper .p_group h3 {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
}

.popup_inner_wide .paper {
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  flex: 1; /* 남은 영역을 모두 차지 */
  overflow-y: auto; /* 세로 스크롤 허용 */
}

.popup_inner_wide .paper .input_set {
  text-align: center;
  margin-bottom: 0.5rem;
}

.popup_inner_wide .paper .input_set .button a {
  width: auto;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 1.5rem 0 1.5rem;
  margin-right: 0.2rem;
  font-size: 1rem;
  color: #438edb;
  background-color: #fff;
  border: 0.1rem solid #539ae2;
}

.popup_inner_wide .paper .input_set .button a.on {
  color: #fff;
  background-color: #539ae2;
  order: 0.1rem solid #539ae2;
}

.popup_inner_wide .paper .input_set .button a:last-child {
  margin-right: 0;
}

.popup_inner_wide .paper input[type="text"] {
  width: 100%;
  height: 1.5rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

.popup_inner_wide .paper input[type="text"]::placeholder {
  color: #c4aea0;
}

.popup_inner_wide .paper .p_title {
  margin: 0.5rem;
}

.popup_inner_wide .paper .p_group {
  padding: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  border: 0.1rem solid #f7ece6;
  margin-bottom: 0.5rem;
}

.popup_inner_wide .paper .p_group .inner_set {
  font-size: 1rem;
}

.popup_inner_wide .paper .p_group .repeat_section {
  min-height: 2.5rem;
  font-size: 0rem;
}

.popup_inner_wide .paper .p_group .repeat_section span {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 0.9rem;
  display: inline-block;
  line-height: 1.8rem;
  border-radius: 50%;
  margin-right: 0.2rem;
  border: 0.1rem solid #eee;
}

.popup_inner_wide .paper .p_group .repeat_section span:last-child {
  margin-right: 0;
}

.popup_inner_wide .paper .p_group .repeat_section span.on {
  background-color: #fa606f;
  color: #fff;
  order: 0.1rem solid #fa606f;
}

.popup_inner_wide .paper .p_group .repeat_section span.all {
  color: #fa606f;
}
.popup_inner_wide .paper .p_group .repeat_section span.all.on {
  color: #fff;
}

.popup_inner_wide .paper .p_group .repeat_section.weekly a,
.popup_inner_wide .paper .p_group .repeat_section.monthly a {
  line-height: 1.5rem;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 2rem;
  padding: 0 1rem 0 1rem;
  border: 0.1rem solid #fa606f;
  text-decoration: none;
  color: #fa606f;
  margin: 0 0.2rem 0 0;
}

.popup_inner_wide .paper .p_group .repeat_section.weekly a.on,
.popup_inner_wide .paper .p_group .repeat_section.monthly a.on {
  background-color: #fa606f;
  color: #fff;
  border: 0.1rem solid #fa606f;
}

.popup_inner_wide .paper .p_group .repeat_section.weekly a:first-child,
.popup_inner_wide .paper .p_group .repeat_section.monthly a:last-child {
  margin-left: 0;
}

span.weekly_r,
span.daily_r,
span.monthly_r,
span.monthly_d_r {
  width: auto;
  height: auto;
  border: none !important;
  display: inline !important;
}

.rs_btm span {
  width: auto;
  height: auto;
  border: none !important;
  display: inline !important;
}

.close_btn {
  width: 2rem;
  height: 2rem;
  border: none;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  display: inline-block;
  background: url("/src/assets/images/ico_close02.png") no-repeat 0 0 / cover;
}

.close_btn span {
  display: none;
}

.save_btn {
  width: 90%;
  position: fixed;
  bottom: 1rem;
}

.repeat_section {
  margin-top: 1rem;
  font-size: 1rem;
}

/* 화면 중앙 정렬시 */
.container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 화면 수직 정렬시 */
.v_container {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  text-align: left;
}

/* 인트로 */
.intro_wrap {
  width: 80%;
  margin: 0 auto;
}

.intro_wrap .subtext {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 0.8rem 0 0.8rem 0;
}

.intro_wrap .ruffy-img {
  width: 8rem;
  margin: 0.5rem 0 0 0;
}

.intro_wrap .button {
  margin-top: 1rem;
}

.intro_wrap .button a {
  margin-bottom: 0.8rem;
}

/* 회원가입 */
.join_wrap {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.join_wrap h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.join_wrap .form {
  margin: 1rem 0 0.5rem 0;
}

.join_wrap .form input {
  width: 100%;
}

.join_wrap .join_inner {
  height: 5.5rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.join_wrap .radio {
  width: 100%;
  margin-bottom: 1rem;
}

.join_wrap .radio em {
  color: #ec6862;
}

.join_wrap .agree {
  width: 100%;
  margin-top: 0.5rem;
}

/* 메인 */
.main_wrap {
  width: 100%;
  height: 100%;
}

.main_wrap h2 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}

.main_wrap a.add_rout {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  line-height: 3.5rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  background-color: #438edb;
}

.main_wrap a.add_rout span {
  display: none;
}
